:root {
    --white: #fff;
    --sky-blue: #e3f6f5;
    --aqua-blue: #bae8e8;

    --black: #222;
    --light-grey: #222a;

    --light-border: #bae8e85c;

    --nav-height: 56px;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html,
body {
    line-height: 1.5;

    overflow: hidden;
}

form > * {
    margin: 0;
}

.scrollable {
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;

    background-color: var(--aqua-blue);
}

::-webkit-scrollbar-track {
    background: transparent;
}

/**
 * Nav Bar
 */
nav {
    display: inline-flex;

    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--light-border);
}

nav ul {
    display: inherit;

    height: inherit;

    margin: 0 5vw;
    padding: 0 5px;

    list-style: none;
}

nav ul li {
    height: inherit;

    margin-bottom: 0;
}

nav ul li a {
    display: block;

    margin: 0 25px;

    line-height: var(--nav-height);
    vertical-align: middle;

    text-decoration: none;

    transition: .3s;
}
nav ul li a:hover {
    color: var(--light-grey);

    transition: .1s;
}

/**
 * Logging
 */
.logging {
    position: fixed;

    background: var(--white);
    border-radius: 4px;

    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    min-width: 500px;

    opacity: 0;
    animation: fadeOut 5s ease-out forwards;
}
.logging > code {
    background: #ed433710;
    border-color: #ed4337;
}

/**
 * Content Wrapper
 */
.main {
    width: 60vw;

    margin: 0 auto;
    padding: 2vh 0 3vh;
}

.main > h3 {
    letter-spacing: 1px;
}

/**
 * Homepage
 */
.entrypoint {
    padding: 5vh 0;

    display: flex;
    align-content: center;
    justify-content: center;

    box-shadow: inset 0 0 6px #0003;
}

.entrypoint > form {
    display: flex;

    margin: 0 auto;
}

.entrypoint > form > input {
    flex-grow: 1;

    border-radius: 4px 0 0 4px;

    border-right: 0;
}

.entrypoint > form > button {
    border-radius: 0 4px 4px 0;
}

/**
 * Download Page
 */
.track-info > img {
    width: 100%;

    border-radius: 25px;
}

/**
 * Playlist Page
 */
.playlist-info {

}

.playlist-info .tracks img {
    max-width: 150px;

    border-radius: 5px;
}

/**
 * Animation KeyFrames
 */
@keyframes fadeOut {
    0% {
        /**
         * To fix a bug with the CSS engine I set this css style that resets the element.
         */
        float: left;
    }
    5% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/**
 * Media queries
 */
@media only screen and (max-width: 362px) {
    nav ul {
        margin: 0px;
        padding: 0px;
    }
}